/**
 * veryfizzyjelly blog
 * --
 * Footer
 */

// Includes
@import 'vars.less';


footer {
  margin: 24px auto 0;
  text-align: center;

  p {
    text-align: center;

    small {
      font-size: 72%;
      color: #888;
    }
  }
}