/**
 * veryfizzyjelly blog
 * --
 * Nav
 */

nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  padding: 0 40px;
  box-sizing: border-box;

  img {
    float: left;
  }

  ul {
    float: right;

    li {
      list-style: none;
      padding: 2px 20px;

      a {
        &:hover {

        }

        &:visited {

        }
      }
    }
  }
}