/**
 * veryfizzyjelly blog
 * --
 * Typography
 */

// Includes
@import 'vars';
@import 'mixins';

// Base size
body {

}

// Measure

// > 1280
@media (min-width: 1280px) {
  h1 {
    width: 1024px;
  }
  .single-post {
    width: 640px;
    margin-left: 18%;
  }

  .list-post {
    width: 640px;
    margin: 60px auto 40px;
  }
}

// 1024 - 1280
@media (min-width: 1024px) and (max-width: 1279px) {
  .single-post {
    h1 {
      font-size:82px;
      line-height:96px;
      margin-bottom: 38px;
      width: 840px;
    }

    width: 620px;
    margin-left: 18%;
  }

  .list-post {
    width: 620px;
    margin: 0 auto;
  }
}

// 768 - 1024
@media (min-width: 768px) and (max-width: 1023px) {
  .single-post {
    h1 {
      font-size:82px;
      line-height:96px;
      margin-bottom: 38px;
      width: 600px;
    }

    width: 600px;
    margin: 0 auto;
  }

  .list-post {
    width: 600px;
    margin: 0 auto;
  }
}

// < 768
@media (max-width: 767px) {
  .single-post {
    h1 {
      font-size:82px;
      line-height:96px;
      margin-bottom: 38px;
      width: 96%;
    }

    p {
      text-align: left;
    }

    p:first-child {
      text-align: left;
    }

    img {
      max-width: 96%;
    }

    width: 96%;
    margin: 0 auto;
  }

  .list-post {
    width: 96%;
    margin: 0 auto;

    img {
      max-width:96%;
    }
  }
}



// Fonts
body { font-family: @copy_font; }
h1, h2, h3, h4, h5, h6 { font-family: @head_font; }
p { font-family: @copy_font; }
p.code { font-family: @code_font; }
blockquote { font-family: @quote_font; }

// Add ligatures
// Only add to h1 and h2 - h3 and below dont need them
h1, h2 {
  .all-ligatures;
}


// Headings
h1 {
  font-size: 118px;
  line-height: 126px;
  margin-bottom: 68px;
  font-style: normal;
  font-weight: 400;
  text-indent: 0px;
  letter-spacing: -2px;
}

h2 {
  margin-top: 64px;
  font-size: 37px;
  line-height: 50px;
  letter-spacing: 0px;
  font-weight: 400;
  text-align: center;
  text-transform: none;
  padding: 0px 48px;
  font-style: italic;
}

h3 {
  margin-top: 42px;
  font-size: 32px;
  line-height: 34px;
  letter-spacing: 0px;
  font-weight: 500;
  font-style: normal;
  font-variant: small-caps;
}

h4 {

}

h5 {

}

h6 {

}

h2 + h3 {
  font-variant: small-caps;
  margin-top: 8px;
  text-align: center;
  letter-spacing: 0px;
  font-weight: 400;
  font-size: 28px;
}

h2 + p {
  margin-top: 32px;
}

h3 + p {
  margin-top: 18px;
}



// Links
p {
  a {
    text-decoration: none;
    color: @col_link;
    border-bottom: 2px dotted #999;
    padding: 2px 4px 0px;
    line-height: 12px;
    .border-radius(4px);
    .border-bottom-left-radius(0px);
    .border-bottom-right-radius(0px);

    &:visited {
      color: @col_link;
    }

    &:hover {
    background-color: #f2f2f2;
    cursor: pointer;
    }
  }
}


// Copy
h1 + p {
  text-indent: 0px;
  margin-bottom: 22px;
  line-height: 42px;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0px;

  &:first-line {
    font-weight: 500;
    font-variant: small-caps;
  }

  &:first-letter {
    font-size: 3.2em;
    font-weight: 300;
    float: left;
    line-height: 1.1em;
    margin-right: 8px;
  }
}

p {
  margin-bottom: 0px;
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 31.875px;
  margin-top: 0px;
  text-align: justify;
}

p + p {
  text-indent: 38px;
}

p.author {
  text-indent: 0px;
  margin-bottom: 25px;
  font-size: 16px;
  letter-spacing: 0px;
  color: #666464;
  font-weight: 400;
  font-style: italic;
}

p.date {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  font-style: italic;
  text-indent: 0px;
  margin-bottom: 24px;
  text-align: left;
}

// Foot of the post
//p.footer {
.single-post > p:last-child {
  text-indent: 0px;
  margin-bottom: 24px;
  font-size: 16px;
  letter-spacing: 0px;
  color: #646464;
  font-weight: 400;
  border-top: 1px solid #c4c4c4;
  padding-top: 18px;
  margin-top: 12px;
  font-variant: small-caps;
  line-height: 24px;
}

// Horizontal Rules
hr {
  text-align: center;
  margin-top: 64px;
  margin-bottom: 64px;
  border:none;

  &:before {
    content:'***';
    letter-spacing: 16px;
    font-size: 21px;
    font-family: @copy_font;
  }
}

hr:last-of-type {
  margin-top: 48px;
  margin-bottom: 84px;

  &:before {
    content:'-§-'
  }
}

// Code blocks
pre {
  white-space: normal;
  display: block;

  code {
    font-family: @code_font;
    display: block;
    white-space: pre;
    color: @col_code;
    padding: 24px 38px;
    margin: 18px 0px;
    .border-radius(4px);
    background-color: @code_col;
    text-indent: 0;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    overflow: auto;
  }
}

p > code {
  font-family: @code_font;
  color: @col_code;
  padding: 3px 6px;
  .border-radius(4px);
  background-color: @code_col;
  text-indent: 0;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  white-space: nowrap;
}

// Blockquotes
blockquote {
  margin: 0;  // CSS Reset due to using p's inside blockquotes
  text-indent: 0px;
  color: rgba(51, 51, 51, 1.00);
  background-color: rgba(242, 242, 242, 1.00);
  margin: 18px 0px;
  padding: 24px 38px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;

  p {
    font-family: @quote_font;
    font-size: 24px;
    line-height: 34px;
    font-style: italic;
    font-weight: 400;

    &:before {
      content: '“';
    }

    &:after {
      content: '”';
    }
  }

  p:last-child {
    text-align: right;
    text-indent: 0px;
    margin-top: 12px;
    font-style: normal;
    font-size: 21px;
    color: #555;

    &:before {
      content:'— ';
    }

    &:after {
      content:'';
    }
  }

  // This selector handles just one paragraph within a blockquote (i.e. no author tag)
  // Note that 2 paragraphs without an author will still use the last-child selector above and look odd
  p:first-child {
    font-size: 24px;
    line-height: 34px;
    font-style: italic;
    font-weight: 400;
    color: #333;
    text-align: justify;
    margin-top: 0;

    &:before {
      content: '“';
    }

    &:after {
      content: '”';
    }
  }
}

// Lists
.single-post {
  ul {
    padding: 0;
    margin: 24px 0;

    li {
      margin-bottom: 4px;
      font-size: 14px;      // This actually refers only to the bullet size
    }
  }
}

// Copy accents
em {
  font-style: italic;
}

strong {
  font-weight: 800;
}



// List-post styles
.list-post {
  padding: 0;
  list-style:none;

  li {
    h2 {
      margin-bottom: 8px;

      a {
        text-decoration: none;
        .border-radius(4px);
        padding: 4px 8px 0px;
        color: @col_type;

        &:visited {
          color: @col_type;
        }

        &:hover {
          color: @col_primary;
          cursor: pointer;
          background-color: #f2f2f2;
        }

        &:active {
          background-color: #d4d4d4;
        }
      }
    }

    .meta {
      text-align: center;
      margin-top:8px;
      margin-bottom: 28px;

      p {
        text-align: center;
      }

      small {
        font-size: 72%;
      }

      a {
        text-decoration: none;
        .border-radius(4px);
        padding: 4px 8px 0px;
        border-bottom: none;
        text-transform: capitalize;
        color: @col_type;

        &:visited {
          color: @col_type;
        }

        &:hover {
          color: @col_primary;
          cursor: pointer;
          background-color: #f2f2f2;
        }

        &:active {
          background-color: #d4d4d4;
        }
      }

      .divider {
        &:before {
          content: ' - ';
        }
        margin: 0px 16px 0px 8px;
      }
    }

    .readmore {
      margin-top: 12px;
    }
  }
}