/**
 * veryfizzyjelly blog
 * --
 * Typography
 */

// Includes
@import 'vars.less';

// Measure
h1 { width: @head_width; }
.single-post { width: @copy_width; }

// Fonts
body { font-family: @copy_font; }
h1, h2, h3, h4, h5, h6 { font-family: @head_font; }
p { font-family: @copy_font; }
p.code { font-family: @code_font; }
blockquote { font-family: @quote_font; }


// Headings
h1 {
  font-size: 118px;
  line-height: 126px;
  margin-bottom: 68px;
//  font-family: garamond-premier-pro-display;
  font-style: normal;
  font-weight: 400;
  -moz-font-feature-settings: 'liga=1';
  -ms-font-feature-settings: 'liga' 1;
  -webkit-font-feature-settings: 'liga' 1;
  -o-font-feature-settings: 'liga' 1;
  font-feature-settings: 'liga' 1;
  text-indent: 0px;
  letter-spacing: -2px;
}

h2 {
  margin-top: 64px;
  font-size: 37px;
  line-height: 50px;
  letter-spacing: 0px;
  font-weight: 400;
//  font-family: garamond-premier-pro-display;
  text-align: center;
  text-transform: none;
  -moz-font-feature-settings: 'liga=1';
  -ms-font-feature-settings: 'liga' 1;
  -webkit-font-feature-settings: 'liga' 1;
  -o-font-feature-settings: 'liga' 1;
  font-feature-settings: 'liga' 1;
  padding: 0px 48px;
  font-style: italic;
}

h3 {
  margin-top: 42px;
  font-size: 32px;
  line-height: 34px;
  letter-spacing: 0px;
  font-weight: 500;
  font-style: normal;
//  font-family: garamond-premier-pro-display;
  font-variant: small-caps;
}

h4 {

}

h5 {

}

h6 {

}

h2 + h3 {
  font-variant: small-caps;
  margin-top: 8px;
  text-align: center;
  letter-spacing: 0px;
  font-weight: 400;
  font-size: 28px;
}

h2 + p {
  margin-top: 32px;
}

h3 + p {
  margin-top: 18px;
}



// Links
p a {
  text-decoration: none;
  color: rgba(0, 0, 0, 1.00);
  border-bottom: 2px dotted #999;
  padding: 2px 2px 0px;
  line-height: 12px;
}

p a:hover {
  background-color: rgba(242, 242, 242, 1.00);
  cursor: pointer;
}


// Copy
h1 + p {
  text-indent: 0px;
  margin-bottom: 22px;
  line-height: 42px;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0px;
//  font-family: garamond-premier-pro;

  &:first-line {
    font-weight: 500;
    font-variant: small-caps;
  }

  &:first-letter {
    font-size: 3.2em;
    font-weight: 300;
    float: left;
    line-height: 1.1em;
    margin-right: 8px;
  }
}

p {
  margin-bottom: 4px;
  font-style: normal;
  font-weight: 400;
//  font-family: garamond-premier-pro;
  font-size: 21px;
  line-height: 31.875px;
  margin-top: 0px;
  text-align: justify;
}

p + p {
  text-indent: 38px;
}

p.author {
  text-indent: 0px;
  margin-bottom: 25px;
  font-size: 16px;
  letter-spacing: 0px;
  color: rgba(102, 100, 100, 1.00);
  font-weight: 400;
  font-style: italic;
}

p.date {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  font-style: italic;
  text-indent: 0px;
  margin-bottom: 24px;
  text-align: left;
}

p.first {
  text-indent: 0px;
  font-style: normal;
  font-weight: 400;
//  font-family: garamond-premier-pro;
}

p.hr {
  text-align: center;
  margin-top: 64px;
  margin-bottom: 48px;
}

p.hr-bottom {
  text-align: center;
  margin-top: 48px;
  margin-bottom: 48px;
}

p.hr:last-child {
  margin-top: 28px;
}

p.footer {
  text-indent: 0px;
  margin-bottom: 24px;
  font-size: 16px;
  letter-spacing: 0px;
  color: rgba(102, 100, 100, 1.00);
  font-weight: 400;
  border-top: 1px solid #c4c4c4;
  padding-top: 18px;
  margin-top: 12px;
  font-variant: small-caps;
  line-height: 24px;
}

p.code {
//  font-family: source-sans-pro;
  color: rgba(242, 242, 242, 1.00);
  width: 568px;
  padding: 24px 38px;
  margin: 18px 0px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  background-color: rgba(51, 51, 51, 1.00);
  text-indent: 0;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
}

// Blockquotes
blockquote {
  font-size: 24px;
  line-height: 34px;
  font-style: italic;
  font-weight: 400;
  text-indent: 0px;
//  font-family: garamond-premier-pro-caption;
  color: rgba(51, 51, 51, 1.00);
  width: 568px;
  background-color: rgba(242, 242, 242, 1.00);
  padding: 24px;
  margin: 18px 12px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}

// Lists


// Copy accents
em {
  font-style: italic;
}

strong {
  font-weight: 800;
}
