/**
 * veryfizzyjelly blog
 * --
 * Variables.less
 */

// Type
@head_width:    1024px;
@copy_width:    640px;

@head_font:     'garamond-premier-pro-display', 'Adobe Garamond Pro', Garamond, Georgia, serif;
@copy_font:     'garamond-premier-pro', 'Adobe Garamond Pro', Garamond, Georgia, serif;
@quote_font:    'garamond-premier-pro-caption', 'Adobe Garamond Pro', Garamond, Georgia, serif;
@code_font:     'source-code-pro', 'Source Code Pro', 'Source Sans Pro', Monaco, monospace;
@term_font:     'source-sans-pro', 'Source Sans Pro', Monaco, monospace;

@code_col:      #333333;

// Colors
@col_back:      #fefefd;
@col_type:      #333333;
@col_link:      #000000;
@col_code:      #f2f2f2;
@col_foot:      #888888;

@col_primary:   #588f27;
@col_secondary: #a9cf54;
@col_tertiary:  #f7e967;